env:
  global:
  - CXX=g++-4.8
  - secure: DpxKNILEe3Wq3GyR33LUnlFjk7YC72R32AzfEQ8HwKWgu0CGccbjWemY86Z1RT4z13iYv6vWQWPXZhu8hrkL4irHm3oUleXQBKmdehRnrH66UJg6kKdmAmBjbTSjHIhfpHF0Asj+y+1CX7cNAbMPV2UB4DIJ3CdhS4RiNdmBD9vrF+FvYr0Pifd8+RYZwIrsP6gZDdKQNRqXaJg89gQ9v8Mmz95PZGd+5rGgnWQf7LCAvminLYQMcQfn6f/4GCywvEXz62lCWCQ1FV7TsKcPpKTJdq08I/O56cA6lJe6EuI5EtWRYufVhcs75bFgzvmBZ3+bbWl2lihWIfzsIVlYa9aAIDYwdHetfUBXBrXsf9BtBhaGL48fIqHPm2Z+H+4Bped+e7jR+5GSIQVQeSrPhHn5TJ46yr9bJoWi5S1K+FZXnNROX2vADvZaUpRfbsHFrdBurbHtWUqbu3GOtZEGnRf2FzZlF4KLMv403nZpVA/250mHI4S11gazKBkWBzpL8XePkMU+lCzJerOpCfPjfVmCUDlnZfRUtihbiYrMePZjqGcNJ6iRBxRhjflDnZCeqea3hleHoDC4MqAWaPEI2U5/+FMzrLMsILpxJz8CSs+huBkOLR0OTMtKpAFGKQC72NPSifpMLQQHaJZ1WDdC71ERBYLWcAtTH+IwCc+DE7w=
  - secure: i+a2mN2VhA1aOjrVzzMYDFqI4pFjELXdLs3S2Mx1JAyYWVQ/YNTKx4PExxN4I7JSdOo/wUNFKvWAHmnlkG6yzqVW+pLVi/XvUUL3B7WMGMgl5LbVmt/4wsrElv2NjtErRMwyCxWbkzYoegIm4hLuoC6/D/Hst/yGPMfsgvxMdNEVj5cOCS7P8F9U6KAoQ5XRJH1pvfrSbAiQ4/ZV0SqBj50WQE/S+szlJgVAcl+2sn/TdegZi8N5HuvNvasrgFSHSkxNssaivQIDLEW81wOv8euRGyZxtysJFbxfriuNKdKipwoexY2+PMHRRMgNdQjYwNLpdRmSSBtzMxQc6MJbIkragNwY9RnM1JyJstcIubt0OaKqvHWCLx3n5xVqbvDhn+ispFG4/Bd58R7XhHyHuhfOrrea3KF7OBOJfGBMG8w5rgjCRMbnTUyFkKJW3h/UN6MjIWPH+Tl2QdJcDhDRKwzoZcNpGiGmydIubaz9BCNni5im+1Da0MEhSaXzjl1aw+SaQaC3Ls7HcbAjAhrpZ1wt2cos2sLJ/yk+AQ3dnOkplhgxfBsbW+l+km0gR105/R76qbmSc6/ByQnG/DSfD5TZkmR1Ig8PcQ9AX9YxKBdbvEO5WLBwySy+6TUmEzktJY7nxmkK10HKPu9Rx9jE6bmVnVXtVD+AIi15a4GM0co=
sudo: false
language: node_js
node_js:
- "0.12"
- "4"
- "5"
- "6"
script: npm test
after_script: npm run coveralls
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8
